
html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.nav-bg {
    background: #c0c0aa; 
    background: -webkit-linear-gradient(to right, #1cefff, #c0c0aa); 
    background: linear-gradient(to right, #1cefff, #c0c0aa); 
}
.kaushan-script-regular {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}
.active {
    font-weight: bolder;
    text-decoration: underline 0.2em;
    text-underline-offset: 0.3em;
    color: #f57242 !important;
}
.hover:hover {
    font-weight: bolder;
    text-decoration: underline 0.2em #f57242;
    text-underline-offset: 0.3em;
}
.Buttons {
    background: #ffe259; 
    background: -webkit-linear-gradient(to right, #ffa751, #ffe259); 
    background: linear-gradient(to right, #ffa751, #ffe259); 
}
.protest-riot-regular {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.gold-stars {
    color: #FFD700;
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.jumbo {
    background-image: url('../images/splash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 30em;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3); 
}

.home-section a:hover {
    background: #c0c0aa;
    background: -webkit-linear-gradient(to right, #1cefff, #c0c0aa);
    background: linear-gradient(to right, #1cefff, #c0c0aa);
}
.pkg-button:hover {
    background: #ffe259;
    background: -webkit-linear-gradient(to right, #ffa751, #ffe259);
    background: linear-gradient(to right, #ffa751, #ffe259);
    color: black;
}

.profile-edit a {
    text-decoration: none;
    color: black;
}
.profile-edit a:hover{
    text-decoration: underline;
}

.btn-about {
    display: inline-block;
    background-color: #ff4500;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn-about:hover {
    background-color: #ff6347;
    transform: scale(1.1);
}

