@model TravelExpertsData.Customer

@{
    ViewData["Title"] = "Edit";
}

<div class="text-center">
	@if (User.Identity.IsAuthenticated)
	{
		var firstName = User.Claims.FirstOrDefault(c => c.Type == "FirstName")?.Value; 
		<h1 class="display-6 my-5 text-capitalize">Editing @firstName</h1>
	}
	<div class="row justify-content-center">
		<div class="col-md-4">
			<form asp-action="Edit">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Username" class="control-label"></label>
					<input asp-for="Username" class="form-control" />
					<span asp-validation-for="Username" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Password" class="control-label"></label>
					<input asp-for="Password" class="form-control"/>
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="CustFirstName" class="control-label"></label>
					<input asp-for="CustFirstName" class="form-control" />
					<span asp-validation-for="CustFirstName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="CustLastName" class="control-label"></label>
					<input asp-for="CustLastName" class="form-control" />
					<span asp-validation-for="CustLastName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="CustAddress" class="control-label"></label>
					<input asp-for="CustAddress" class="form-control" />
					<span asp-validation-for="CustAddress" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="CustCity" class="control-label"></label>
					<input asp-for="CustCity" class="form-control" />
					<span asp-validation-for="CustCity" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="CustProv" class="control-label"></label>
					<select asp-for="CustProv" class="form-control"> 
						<option value="AB">Alberta</option>
						<option value="BC">British Columbia</option>
						<option value="MB">Manitoba</option>
						<option value="NB">New Brunswick</option>
						<option value="NL">Newfoundland and Labrador</option>
						<option value="NT">Northwest Territories</option>
						<option value="NU">Nunavut</option>
						<option value="ON">Ontario</option>
						<option value="PE">Prince Edward Island</option>
						<option value="QC">Quebec</option>
						<option value="SK">Saskatchewan</option>
						<option value="YT">Yukon</option>
					</select>
					<span asp-validation-for="CustProv" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="CustPostal" class="control-label"></label>
					<input asp-for="CustPostal" class="form-control" />
					<span asp-validation-for="CustPostal" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="CustCountry" class="control-label"></label>
					<input asp-for="CustCountry" class="form-control" />
					<span asp-validation-for="CustCountry" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="CustHomePhone" class="control-label"></label>
					<input asp-for="CustHomePhone" class="form-control" />
					<span asp-validation-for="CustHomePhone" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="CustBusPhone" class="control-label"></label>
					<input asp-for="CustBusPhone" class="form-control" />
					<span asp-validation-for="CustBusPhone" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="CustEmail" class="control-label"></label>
					<input asp-for="CustEmail" class="form-control" />
					<span asp-validation-for="CustEmail" class="text-danger"></span>
				</div>
				<div class="form-group my-4">
					<input type="submit" value="Save" class="btn btn-primary offer-btn" />
				</div>
			</form>
		</div>
	</div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
