@* @section AboutUsStyles {
    <link rel="stylesheet" href="~/css/AboutUsStyles.css" asp-append-version="true" />
} *@
<body>
<section class="">
    <div class="heading"></div>
        <h1>About Us</h1>
        <div class="container">
            <div class="hero-content"
        <h2>Welcome to Our Website</h2>
        <p>Discover the lastest trends and innovations in technology, 
            design and more. Our team of experts brings you the best 
            content and insights to help you stay aheadof the curve</p>
        <button class="cta-button">Learn More</button>
        </div>
        <div class="hero-image">
            <img src="~/Images/travel-world.jpg" />
            </div>
        </div>    
</section>
</body>